In [ ]:
# prompt: first, create a list of adjectives of sizes of products, then create a list of categories for clothing products, then create a list of clothing brands.

size_adjectives = ["small", "medium", "large", "extra large", "petite", "plus size"]
clothing_categories = ["shirts", "pants", "dresses", "skirts", "jackets", "sweaters"]
clothing_brands = ["Nike", "Adidas", "Levi's", "Zara", "H&M", "Gucci", "Prada"]

In [ ]:
# prompt: then create a list of 100,000 products created randomly choosing items from these three list and make sure to import pandas

import pandas as pd
import random

size_adjectives = ["small", "medium", "large", "extra large", "petite", "plus size"]
clothing_categories = ["shirts", "pants", "dresses", "skirts", "jackets", "sweaters"]
clothing_brands = ["Nike", "Adidas", "Levi's", "Zara", "H&M", "Gucci", "Prada"]

products = []
for _ in range(100000):
    size = random.choice(size_adjectives)
    category = random.choice(clothing_categories)
    brand = random.choice(clothing_brands)
    products.append([size, category, brand])

df = pd.DataFrame(products, columns=['Size', 'Category', 'Brand'])
df

            Size  Category   Brand
0         petite   dresses     H&M
1          large    shirts  Adidas
2      plus size  sweaters     H&M
3          large  sweaters  Adidas
4         petite   dresses    Nike
...          ...       ...     ...
99995      large   dresses    Zara
99996      large    shirts  Levi's
99997      small    shirts    Zara
99998     petite   dresses  Levi's
99999      large   jackets     H&M

[100000 rows x 3 columns]

In [ ]:
# prompt: then create a dataset where the following columns are created: purchse_date, using a random date in the past 10 months of 2024. store_id, a random number between 1 and 2500. order_id, a unique number where the store_id is concatenated with a random string. customer_id, based on a set of unique customer identifiers, per store_id. a list of products randomly from the list, 'inventory' with pricing and quantity (between 1 and 10), of a random length between 1 and 35. please include the previous code that includes the clothing

import pandas as pd
import random
from datetime import datetime, timedelta

# Previous code (clothing data generation)
size_adjectives = ["small", "medium", "large", "extra large", "petite", "plus size"]
clothing_categories = ["shirts", "pants", "dresses", "skirts", "jackets", "sweaters"]
clothing_brands = ["Nike", "Adidas", "Levi's", "Zara", "H&M", "Gucci", "Prada"]

products = []
for _ in range(100000):
    size = random.choice(size_adjectives)
    category = random.choice(clothing_categories)
    brand = random.choice(clothing_brands)
    products.append([size, category, brand])

df_products = pd.DataFrame(products, columns=['Size', 'Category', 'Brand'])


# Generate dataset
data = []
store_customers = {}  # Dictionary to store customer IDs per store

for _ in range(10000):
    purchase_date = datetime(2024, 1, 1) + timedelta(days=random.randint(0, 300))  # Random date in the past 10 months
    store_id = random.randint(1, 2500)
    order_id = str(store_id) + ''.join(random.choices('ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789', k=8))

    if store_id not in store_customers:
        store_customers[store_id] = set()

    while True:
        customer_id = random.randint(1, 10000)
        if customer_id not in store_customers[store_id]:
            store_customers[store_id].add(customer_id)
            break

    num_products = random.randint(1, 35)
    inventory = []
    for _ in range(num_products):
        product_index = random.randint(0, len(df_products) - 1)
        quantity = random.randint(1, 10)
        price = round(random.uniform(10, 200), 2)  # Random price between $10 and $200

        inventory.append({'product': df_products.iloc[product_index].to_dict(), 'quantity': quantity, 'price': price})

    data.append({'purchase_date': purchase_date, 'store_id': store_id, 'order_id': order_id, 'customer_id': customer_id, 'inventory': inventory})


df_orders = pd.DataFrame(data)
df_orders

,purchase_date,store_id,order_id,customer_id,inventory
0,2024-08-31,988,98803O7WX57,5044,"[{'product': {'Size': 'petite', 'Category': 's..."
1,2024-09-30,448,44801YXX3VP,1918,"[{'product': {'Size': 'extra large', 'Category..."
2,2024-04-07,790,7901PJA07S9,3197,"[{'product': {'Size': 'small', 'Category': 'pa..."
3,2024-07-15,1631,1631OWRP56BQ,5050,"[{'product': {'Size': 'medium', 'Category': 'p..."
4,2024-05-09,829,82970RPFLAB,9562,"[{'product': {'Size': 'extra large', 'Category..."
...,...,...,...,...,...
9995,2024-06-16,1523,1523Q02658PI,8083,"[{'product': {'Size': 'large', 'Category': 'pa..."
9996,2024-06-20,1366,1366H46GY0Y5,3877,"[{'product': {'Size': 'medium', 'Category': 'j..."
9997,2024-08-21,2434,243453YK19OC,4820,"[{'product': {'Size': 'small', 'Category': 'sk..."
9998,2024-05-04,2363,2363DQ8XR5LK,4531,"[{'product': {'Size': 'petite', 'Category': 'd..."
9999,2024-01-07,580,580FNR3WZ8C,7002,"[{'product': {'Size': 'plus size', 'Category':..."

In [ ]:
df = pd.DataFrame (data, columns = ['purchase_date', 'store_id', 'order_id', 'customer_id', 'inventory'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   purchase_date  10000 non-null  datetime64[ns]
 1   store_id       10000 non-null  int64
 2   order_id       10000 non-null  object
 3   customer_id    10000 non-null  int64
 4   inventory      10000 non-null  object
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 390.8+ KB

In [ ]:
df.columns

Index(['purchase_date', 'store_id', 'order_id', 'customer_id', 'inventory'], dtype='object')

In [ ]:
df.inventory

0       [{'product': {'Size': 'petite', 'Category': 's...
1       [{'product': {'Size': 'extra large', 'Category...
2       [{'product': {'Size': 'small', 'Category': 'pa...
3       [{'product': {'Size': 'medium', 'Category': 'p...
4       [{'product': {'Size': 'extra large', 'Category...
                              ...
9995    [{'product': {'Size': 'large', 'Category': 'pa...
9996    [{'product': {'Size': 'medium', 'Category': 'j...
9997    [{'product': {'Size': 'small', 'Category': 'sk...
9998    [{'product': {'Size': 'petite', 'Category': 'd...
9999    [{'product': {'Size': 'plus size', 'Category':...
Name: inventory, Length: 10000, dtype: object

In [ ]:
df.shape

(10000, 5)

In [ ]:
df.to_csv('clothing_data.csv', index=False)

In [ ]:

store_count = df ['store_id'].nunique()
print(f"Number of unique stores: {store_count}")

Number of unique stores: 2453

In [ ]:
average_customers_per_store = df.groupby('store_id')['customer_id'].nunique().mean()
print(f"Average number of customers per store: {average_customers_per_store}")

Average number of customers per store: 4.076640847941296

In [ ]:
store_customer_counts = df.groupby('store_id')['customer_id'].nunique()
largest_store_size = store_customer_counts.max()
print(f"The biggest store has {largest_store_size} unique customers.")

The biggest store has 11 unique customers.

In [ ]:
# prompt: read ignacios corporation sales data css and create a dataframe with pandas

import pandas as pd


# read the csv file imported from project 1
df = pd.read_csv('ignacios_corporation_sales_data.csv')

# Display the first few rows of the DataFrame
print(df.head())

         Date      Time            StoreID   CustomerID     OrderID  \
0  2024-05-11  17:57:32  Ignacio's Alabama  Customer_15  Order_1964
1  2024-06-30  17:57:32  Ignacio's Alabama  Customer_15  Order_2942
2  2024-09-15  17:57:32  Ignacio's Alabama  Customer_15  Order_5988
3  2024-01-30  17:57:32  Ignacio's Alabama  Customer_15  Order_4817
4  2024-01-13  17:57:32  Ignacio's Alabama  Customer_22  Order_5426

                               Products (Name:Price)  Total Price
0  Quesadilla:7.99, Agua Fresca:2.99, Nachos:9.99...        60.92
1  Breakfast Burrito:8.99, Burrito:8.99, Quesadil...        25.97
2  Quesadilla:7.99, Quesadilla:7.99, Burrito:8.99...        28.96
3  Nachos:9.99, Breakfast Taco:3.99, Quesadilla:7...        30.94
4                                Breakfast Taco:3.99         3.99

In [ ]:
print(df.columns)
print(df.shape)

Index(['Date', 'Time', 'StoreID', 'CustomerID', 'OrderID',
       'Products (Name:Price)', 'Total Price'],
      dtype='object')
(2014, 7)

In [ ]:
# prompt: tell me which 10 stores have the most sales

# Calculate total sales per store
df_orders['total_sales'] = df_orders['inventory'].apply(lambda x: sum([item['quantity'] * item['price'] for item in x]))

# Group by store and sum total sales
store_sales = df_orders.groupby('store_id')['total_sales'].sum()

# Get the top 10 stores with the most sales
top_10_stores = store_sales.nlargest(10)

top_10_stores

store_id
1673    148281.10
2382    133947.06
280     128895.82
55      127547.67
1354    126806.61
1012    124976.09
1758    121650.79
1380    120786.19
1966    116231.77
750     113733.75
Name: total_sales, dtype: float64

In [ ]:
new_df = df.transpose()
print(df.columns)
print(new_df)

Index(['Date', 'Time', 'StoreID', 'CustomerID', 'OrderID',
       'Products (Name:Price)', 'Total Price'],
      dtype='object')
                                                                    0     \
Date                                                          2024-05-11
Time                                                            17:57:32
StoreID                                                Ignacio's Alabama
CustomerID                                                   Customer_15
OrderID                                                       Order_1964
Products (Name:Price)  Quesadilla:7.99, Agua Fresca:2.99, Nachos:9.99...
Total Price                                                        60.92

                                                                    1     \
Date                                                          2024-06-30
Time                                                            17:57:32
StoreID                                                Ignacio's Alabama
CustomerID                                                   Customer_15
OrderID                                                       Order_2942
Products (Name:Price)  Breakfast Burrito:8.99, Burrito:8.99, Quesadil...
Total Price                                                        25.97

                                                                    2     \
Date                                                          2024-09-15
Time                                                            17:57:32
StoreID                                                Ignacio's Alabama
CustomerID                                                   Customer_15
OrderID                                                       Order_5988
Products (Name:Price)  Quesadilla:7.99, Quesadilla:7.99, Burrito:8.99...
Total Price                                                        28.96

                                                                    3     \
Date                                                          2024-01-30
Time                                                            17:57:32
StoreID                                                Ignacio's Alabama
CustomerID                                                   Customer_15
OrderID                                                       Order_4817
Products (Name:Price)  Nachos:9.99, Breakfast Taco:3.99, Quesadilla:7...
Total Price                                                        30.94

                                      4     \
Date                            2024-01-13
Time                              17:57:32
StoreID                  Ignacio's Alabama
CustomerID                     Customer_22
OrderID                         Order_5426
Products (Name:Price)  Breakfast Taco:3.99
Total Price                           3.99

                                                                    5     \
Date                                                          2024-03-31
Time                                                            17:57:32
StoreID                                                Ignacio's Alabama
CustomerID                                                   Customer_22
OrderID                                                       Order_2440
Products (Name:Price)  Quesadilla:7.99, Nachos:9.99, Breakfast Taco:3...
Total Price                                                        49.92

                                                                    6     \
Date                                                          2024-05-27
Time                                                            17:57:32
StoreID                                                Ignacio's Alabama
CustomerID                                                   Customer_22
OrderID                                                       Order_8800
Products (Name:Price)  Breakfast Burrito:8.99, Breakfast Taco:3.99, B...
Total Price                                                        47.94

                                                                    7     \
Date                                                          2024-06-15
Time                                                            17:57:32
StoreID                                                Ignacio's Alabama
CustomerID                                                   Customer_22
OrderID                                                       Order_4336
Products (Name:Price)  Quesadilla:7.99, Taco:4.99, Salsa:0.99, Nachos...
Total Price                                                        47.91

                                                                    8     \
Date                                                          2024-05-12
Time                                                            17:57:32
StoreID                                                Ignacio's Alabama
CustomerID                                                   Customer_22
OrderID                                                       Order_7923
Products (Name:Price)  Breakfast Taco:3.99, Quesadilla:7.99, Quesadil...
Total Price                                                        53.91

                                                            9     ...  \
Date                                                  2024-03-11  ...
Time                                                    17:57:32  ...
StoreID                                        Ignacio's Alabama  ...
CustomerID                                           Customer_35  ...
OrderID                                               Order_7830  ...
Products (Name:Price)  Agua Fresca:2.99, Salsa:0.99, Nachos:9.99  ...
Total Price                                                13.97  ...

                                                                 2004  \
Date                                                       2023-11-06
Time                                                         17:57:32
StoreID                                             Ignacio's Wyoming
CustomerID                                               Customer_168
OrderID                                                    Order_1397
Products (Name:Price)  Nachos:9.99, Taco:4.99, Breakfast Burrito:8.99
Total Price                                                     23.97

                                                                    2005  \
Date                                                          2023-10-31
Time                                                            17:57:32
StoreID                                                Ignacio's Wyoming
CustomerID                                                  Customer_168
OrderID                                                       Order_6809
Products (Name:Price)  Breakfast Taco:3.99, Nachos:9.99, Burrito:8.99...
Total Price                                                        37.93

                                             2006                     2007  \
Date                                   2024-03-29               2024-01-15
Time                                     17:57:32                 17:57:32
StoreID                         Ignacio's Wyoming        Ignacio's Wyoming
CustomerID                           Customer_168             Customer_168
OrderID                                Order_6260               Order_6520
Products (Name:Price)  Soda Pop:1.99, Nachos:9.99  Taco:4.99, Burrito:8.99
Total Price                                 11.98                    13.98

                                                                    2008  \
Date                                                          2023-12-26
Time                                                            17:57:32
StoreID                                                Ignacio's Wyoming
CustomerID                                                  Customer_168
OrderID                                                       Order_7639
Products (Name:Price)  Salsa:0.99, Burrito:8.99, Salsa:0.99, Burrito:...
Total Price                                                        19.96

                                                                   2009  \
Date                                                         2024-03-10
Time                                                           17:57:32
StoreID                                               Ignacio's Wyoming
CustomerID                                                 Customer_194
OrderID                                                      Order_6628
Products (Name:Price)  Breakfast Burrito:8.99, Nachos:9.99, Nachos:9.99
Total Price                                                       28.97

                                                                    2010  \
Date                                                          2024-02-01
Time                                                            17:57:32
StoreID                                                Ignacio's Wyoming
CustomerID                                                  Customer_194
OrderID                                                       Order_3889
Products (Name:Price)  Breakfast Burrito:8.99, Burrito:8.99, Soda Pop...
Total Price                                                        36.92

                                                                    2011  \
Date                                                          2023-12-14
Time                                                            17:57:32
StoreID                                                Ignacio's Wyoming
CustomerID                                                  Customer_194
OrderID                                                       Order_4603
Products (Name:Price)  Breakfast Taco:3.99, Nachos:9.99, Burrito:8.99...
Total Price                                                        51.91

                                         2012               2013
Date                               2024-02-11         2024-01-22
Time                                 17:57:32           17:57:32
StoreID                     Ignacio's Wyoming  Ignacio's Wyoming
CustomerID                       Customer_194       Customer_194
OrderID                            Order_5339         Order_7847
Products (Name:Price)  Breakfast Burrito:8.99         Salsa:0.99
Total Price                              8.99               0.99

[7 rows x 2014 columns]